<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook | Home</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/3d.css">
   
</head>
<body>

    <nav>
        <div class="nav-left">
            <img src="/image/logo.png" alt="logo" class="logo">
            <a href="/template/html/homePage.html">Home</a>
            <ul>
                <li><img src="/image/notification.png" ></li>
                <li><img src="/image/notification.png" ></li>
                <li><img src="/image/video.png" ></li>
            </ul>
        </div>
        <div class="nav-right">
            <div class="search-box">
                <img src="/image/search.png" alt="">
                <input type="text" placeholder="Search">
            </div>
            <div class="nav-user-icon online" onclick="settingsMenuToggle()">
            <img src="/image/profile-pic.png" alt="profile pic">
            </div>
        </div>
    
        <!-- settings-menu------------- -->
        <div class="settings-menu">
    
            <div id="dark-btn" class="dark-btn-on">
                <span></span>
            </div>
            <div class="settings-menu-inner">
                <div class="user-profile">
                    <img src="/image/profile-pic.png" >
                    <div>
                        <p>Tejendra</p>
                        <a href="#">See your profile</a>
                    </div>
                </div>
                <hr>
                <div class="user-profile">
                    <img src="/image/feedback.png" >
                    <div>
                        <p>Feedback</p>
                        <a href="#">Give your feedback</a>
                    </div>
                </div>
                <hr>
    
                <div class="settings-links">
                    <img src="/image/setting.png" class="settings-icon">
                    <a href="#">Setting & Privacy <img src="/image/arrow.png" width="10px"></a>
                </div>
                <div class="settings-links">
                    <img src="/image/setting.png" class="settings-icon">
                    <a href="#">Setting & Privacy <img src="/image/arrow.png" width="10px"></a>
                </div>
            </div>
        </div>
    </nav>

    <h1 class="photo-gallery">Photo Gallery </h1>
        
    <div class="box">
        <span style="--i:1"><img src="/image/2.png" ></span>
        <span style="--i:2"><img src="/image/1.jpg" ></span>
        <span style="--i:3"><img src="/image/3.jpg" ></span>
        <span style="--i:4"><img src="/image/4.jpg" ></span>
        <span style="--i:5"><img src="/image/2.png" ></span>
        <span style="--i:6"><img src="/image/1.jpg" ></span>
        <span style="--i:7"><img src="/image/3.jpg" ></span>
        <span style="--i:8"><img src="/image/4.jpg" ></span>

    </div>

    <nav>
        <div class="nav-left">
            <img src="/image/logo.png" alt="logo" class="logo">
            
            
            <ul>
                <li><img src="/image/notification.png" ></li>
                <li><img src="/image/notification.png" ></li>
                <li><img src="/image/video.png" ></li>
            </ul>
        </div>
    
    </nav>
 
    <script src="/script.js"></script>
</body>
</html>